## UASR Configuration File
## - Voice authentication database: GMM speaker classifier
## - SFV features, UCUI Untersuchung 2.1 data sets
##

uasr.exp = "GMM/experiments/UCUI/e21/sfv_ucui_u21"
uasr.dir.fea = "$UASR_HOME-data/vau/common/fea/sfv_24/s02"

## Includes
include  = "$UASR_HOME-data/vau/GMM/info/sfv.cfg"                               # Include feature settings
include  = "$UASR_HOME-data/vau/GMM/info/UCUI/e21/ucui_e21_test.cfg"            # Include data sets settings
include  = "$UASR_HOME-data/vau/GMM/info/default.cfg"                           # Include GMM defaults

## EOF