## UASR Configuration File
## - Voice authentication database: GMM speaker classifier
## - MFCC features, ESSV2015 Untersuchung 1 data sets
##

uasr.exp = "GMM/experiments/ESSV15/e11/mfcc_30"

## Includes
include  = "$UASR_HOME-data/vau/GMM/info/mfcc.cfg"                              # Include feature settings
include  = "$UASR_HOME-data/vau/GMM/info/ESSV15/e11/essv15_e11_test.cfg"        # Include data sets settings
include  = "$UASR_HOME-data/vau/GMM/info/default.cfg"                           # Include GMM defaults

## EOF